head{
    font-family: Consolas,monaco, monospace;
}
body {
    background-color: black;
    font-family: Consolas,monospace;
    color: whitesmoke;
}
a:link {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
}