head{
    color: whitesmoke;
    font-family: Consolas,monaco, monospace;
}
/*nav bar*/
/*links*/
a:link {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
}
/*intro bar*/
div {
    max-width: fit-content;
    margin-inline: auto;
    color: whitesmoke;
    font-family: Consolas,monaco, monospace;
}
/*body*/
body {
    color: whitesmoke;
    background-color: black;
    font-family: Consolas,monospace;
}
p {
    color: whitesmoke;
    font-family: Consolas, monospace;
}

li{
    color: whitesmoke;
}